html {
    background-color: black;
    color: lightgrey;
}

.app {
    text-align: center;
    background-color: black;
    color: lightgrey;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.full-h {
    height: 100vh; /* For 100% screen height */
}

.btn-start {
    font-size: 90px;
    padding: 10px 40px 10px 40px;
}

@font-face {
    font-family: 'Digitial';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
    url('./digital-7-mono.ttf') format('truetype');
}

.digitialism {
    color: red;
    font-family: 'Digitial', serif;
}

.numbers {
    font-size: 200px;
    line-height: 200px;
}

.row-front {
    z-index: 10;
    position: inherit;
}

.digit-score-bgd {
    z-index: 5;
    position: absolute;
    top: 40px;
    left: 49px;
    color: #1d1d1d;
}

.digit-time-bgd {
    z-index: 5;
    position: absolute;
    top: 40px;
    left: 453px;
    color: #1d1d1d;
}

.fix-letter-spacing {
    letter-spacing: 3px;
}

.clock-border {
    border: 5px solid grey;
    border-radius: 1%;
    box-shadow: 0 8px 0 #5f5f5f,
    0 0 0 #5f5f5f,
    0 0 0 #5f5f5f,
    0 0 0 #5f5f5f;
}

.btn-3d {
    position: relative;
    outline: none;
    display: inline-block;
    font-size: 80px;
    font-weight: 100;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.btn-3d.green:hover {
    background-color: #1f8a20;
}

.btn-3d:active {
    top: 9px;
}

.btn-3d.green {
    background-color: #21c816;
    box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(65, 194, 86, 0.7),
    0 8px 0 1px rgba(0, 0, 0, .4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.green:active {
    box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.clock-size {
    width: 850px;
    height: 375px;
}